.album-web {
  text-align: center;
  
}

.page {
  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
  background-color: rgb(245, 243, 239);
  cursor: pointer;
 
}

.cover {
  background-color: rgb(252, 246, 230);
  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
  cursor: pointer;
}
